/* subscribe section design */

.subscribe-container {
    max-width: 1320px;
    margin: 100px auto;
    background-color: #ff00000d;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-items {
    padding: 80px 210px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.subscribe {
    margin-bottom: 40px;
}

.input-box {
    border: none;
    padding: 15px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-right: 125px;
}

.btn-subscribe {
    border: none;
    padding: 14px 30px;
    margin-left: -127px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: red;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;

}
